@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: helvetica, "pingFang SC", "Microsoft Yahei", sans-serif;
    font-size: 14px;
}

body {
    background-color: #FFFFFF;
    max-width: 1920px;
    min-width: 1900px;
    margin: auto; 
}

a{
    color: #000000;
    text-decoration: none;
}

img{
    vertical-align: middle;
}
